<div class="landing-page--div h-100">
  <div class="container h-100 landing-page--info text-center">
    <h1 class="display-2 landing-page--header">This Year</h1>
  <div class="col-lg-6 mr-auto ml-auto">
    <p class="lead"><br />Signup<br /> & Get Started.</p>
</div>

<form action="/signup" method="POST">
    <label for="new_username">Username:</label>
      <input type="text" name="username" placeholder="Username:" id="new_username"></input>

    <label for="new_email">Email:</label>
      <input type="email" name="email" placeholder="Email:" id="new_email"></input>

    <label for="new_password">Password:</label>
      <input type="password" name="password" placeholder="Password:" id="new_password"></input>

      <% if flash.has?(:message) %>
        <%= flash[:message] %>
      <% end %>

    <input type="submit" value="Signup">
</form>
