<h3>Edit an Event</h3>

<br />
<form action="/events/<%=@event.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <label for="event_name">Event Name:</label>
    <input type="text" name="event[name]" placeholder="<%=@event.name%>" id="event_name"></input>

  <label for="event_date">Event Date:</label>
    <input type="date" name="event[date]" placeholder="<%=@event.date%>" id="event_date"></input><br />

  <br /><label for="event_desc">Description(optional):</label>
    <p><textarea name="event[description]" placeholder="<%=@event.description unless nil%>" id="event_desc"></textarea><br />

  <br /><button type="button" class="btn btn-primary">Edit</button>
</form>
