<div class="container mt-4">
  <h2 class="display-4 text-center"><%= current_user.username %>'s Events</h2>

<div class="text-center">
  <ul class="list-group" >
    <div class="container">
      <% Event.order(:date).each do |event| %>
        <% if event.user == current_user %>
          <li class="list-group-item"><%= event.date %><br />
            <%= event.description unless nil %><br />
            <a class="btn btn-outline-primary" href="/events/<%=event.id%>/edit">Edit</a>
          </li>
          <% end %>
      <% end %>
    </div>
  </ul>
</div>
