<h3>Add an Event</h3>

<!-- warning/flash message -->
<% if flash.has?(:message) %>
  <div class="alert alert-warning" role="alert">
      <%= flash[:message] %>
  </div>
<% end %><br></br>

<form action="/events/show" method="POST">

  <label for="event_name">Event Name:</label>
    <input type="text" name="name" placeholder="Tried Pok Pok" id="event_name"></input>

  <label for="event_date">Event Date:</label>
    <input type="date" name="date" id="event_date"></input><br />

  <br /><label for="event_desc">Description(optional):</label>
    <p><textarea name="description" placeholder="Who knew fish wings would be soo good." id="event_desc"></textarea><br />

  <br /><input type="submit" value="submit">
</form>
