<div class="container mt-4">
  <h2 class="display-4 text-center"><%= @event.name %></h2>

    <div class="text-center">
      <ul class="list-group" >
        <div class="container">
          <li class="list-group-item"><%= @event.date %></li>
          <li class="list-group-item"><%= @event.description %></li>
        </div>
      </ul>


<!-- Delete -->
  <form action="/events/<%=@event.id%>/delete" method="POST">
    <input id="hidden" type="hidden" name="_method" value="delete">

    <button type="submit" class="btn btn-default btn-md" style="margin-left:10px;">
      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    </button>
  </form>
  
  </div>
</div>
