<h3>Edit a Resolution</h3>

<br />
<form action="/resolutions/<%=@resolution.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <label for="name">Resolution Name:</label>
    <input type="text" name="resolution[name]" placeholder="<%=@resolution.name%>" id="name"></input>

  <br /><input type="submit" value="submit">
</form>
