<div class="container mt-4">
  <h2 class="display-4 text-center"><%= current_user.username %>'s Resolutions</h2>

<div class="text-center">
  <ol class="list-group" >
    <div class="container">
      <% current_user.resolutions.each do |res| %>
        <li class="list-group-item"><%= res.name %><br />
        <a class="btn btn-outline-primary" href="/resolutions/<%=res.id%>/edit">Edit</a></li>
      <% end %>
    </div>
  </ol>
</div>
