<h2><%= @resolution.name %></h2>
<br></br>

<form action="/resolutions/<%=@resolution.id%>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">

  <input type="submit" value="Delete Resolution"></input>

</form>
