<div class="row justify-content-center">
  <div class="panel panel-default col-sm-6 text-center">
    <div class="panel-heading display-4"><h4>What Is This Year?</h4></div>
      <div class="panel-body">
        Years seems to pass incredibly fast and before you know it, those resolutions from the beginning of the year
        are forgotten and your left wondering <i>"What actually happened this year?"</i>
          <p></p>
          <p>That's where This Year comes in!</p>
        This year helps you remember the resolutions you made in the beginning of the year, while also tracking the
        events that happened throughout the year- big or small!
        <br />Whether you started your dream career or finally
        tried that fancy restaurant you've been dying to check out- This Year compiles all of your moments so
        you can look back and reminisce on all the fun things you've accomplished come December.
      </div>
    </div>
  </div>
</div>
