
<div class="landing-page--div h-100">
  <div class="container h-100 landing-page--info text-center">
    <h1 class="display-2 landing-page--header">This Year</h1>
    <div class="col-lg-6 mr-auto ml-auto">
    <p class="lead"><br />Keep Track of Your Year<br /> Get started Today.</p>
    </div>
    <a href="/signup" class="btn btn-lg btn-primary" style="margin-right: 30px">Sign Up</a>
    <a href="/login" class="btn btn-lg btn-primary">Login</a>
  </div>
</div>
