<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>This Year</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <!-- For Scrollbar -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  </head>
  <body>

    <div class="wrapper">
      <div style="font-family: 'Montserrat', sans-serif;">

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <% if logged_in? %>
              <div class="navbar-nav">
                <a class="navbar-brand" href="/users/<%=current_user.slug%>"><span class="glyphicon glyphicon-home" style="color: #0F73F2;" aria-hidden="true"></span></a>

              <!-- 'All' Dropdown -->
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      All
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                      <!-- Dropdown -->
                      <div>
                        <a class="dropdown-item" href="/events">All Events</a>
                        <a class="dropdown-item" href="/resolutions">All Resolutions</a>
                      </div>
                    </div>
                  </div>

              <!-- 'New' Dropdown Menu-->
              <div class="dropdown" style="margin-left:20px;">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  New
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <!-- Dropdown -->
                  <div>
                    <a class="dropdown-item" href="/events/new">New Event</a>
                    <a class="dropdown-item" href="/resolutions/new">New Resolution</a>
                  </div>
                </div>
              </div>
            </div>
            
              <!-- Logout -->
              <li><a class="btn btn-secondary" href="/logout">logout</a></li>

          <% else %>
          <div class="navbar-nav">
            <a class="nav-item nav-link active" style="color:#fff; margin-left:30px;" href="/login">Login <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" style="color:#fff; margin-left:30px;" href="/signup">Signup</a>
            <a class="nav-item nav-link" style="color:#fff; margin-left:30px;" href="/about">About</a>
          </div>
          <% end %>
      </nav>

        <%= yield %>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
